# System files
.DS_STORE

# Eclipse
.classpath
.project
.settings/

# IDE
.idea

# build directory
target/
bin/

# build report directory
TEST/
mutation-testing-report.html
ProjetDevOps/processor.txt
